.bttn-social {
	svg {
		display: inline-block;
		text-align: center;
		width: 30px;
		height: 30px;
		padding: 10px;
		border: 1px solid white;
		border-radius: 100%;
		background-color: black;
		color: red;
		transition: all 0.2s;
	}
}

.bttn-social:hover {
	svg {
		color: black;
		background-color: red;
		text-decoration: none;
	}
}

@media screen and (min-width: 992px) {
	.bttn-social {
		svg {
			width: 40px;
			height: 40px;
		}
	}
}

@media screen and (max-width: 767px) {
	.bttn-social {
		svg {
			width: 40px;
			height: 40px;
		}
	}
}
