.bttn-social {
	font-size: 28px;
	line-height: 46px;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	border-radius: 100%;
	background-color: black;
	color: red;
	transition: all 0.2s;
}

.bttn-social:hover {
	color: black;
	background-color: red;
	text-decoration: none;
}

@media screen and (min-width: 992px) {
	.bttn-social {
		font-size: 35px;
		line-height: 55px;
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 767px) {
	.bttn-social {
		font-size: 35px;
		line-height: 55px;
		width: 60px;
		height: 60px;
	}
}
