.nav-item {
	padding: 5px 15px 5px 5px;

	a {
		text-decoration: none !important;
	}

	.active {
		pointer-events: none !important;
		color: rgb(175, 175, 175) !important;
	}
}

.navbar-dark {
	.navbar-toggler {
		color: rgba(255, 255, 255, 0.75) !important;
		border-color: rgba(255, 255, 255, 0.75) !important;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
	}
}

.bttn-nav {
	background: none;
	border: none;
	font-size: 20px;
	color: white;
	padding: 5px 5px 5px 5px;
	transition: all 0.2s;

	&:hover {
		color: rgb(175, 175, 175);
		cursor: pointer;
		text-decoration: none;
	}
}

@media screen and (max-width: 767px) {
	.nav-item {
		padding: 10px 0px 10px 0px;
	}

	.bttn-nav {
		font-size: 25px;
	}
}
