body {
	height: 100vh;
	left: 0;
	top: 0;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: black;

	.spacer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.overlay {
	left: 0;
	top: 0;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.scroll-locked {
	overflow: hidden;
}

.bttn {
	padding: 7px 12px 7px 12px;
	border: 1px solid white;
	border-radius: 10px;
	transition: all 0.15s;

	&:hover {
		background-color: black;
		color: white;
		cursor: pointer;
	}

	&:disabled {
		pointer-events: none;
		background-color: #000 !important;
		color: #fff !important;
	}
}
